<div ng-controller = 'topicController'>
	<div>
		<a href = '#/dashboard'>Dashboard</a> | <a href= '#/'> Logout</a>
		<h3><a href='#/user/{{user._id}}'> {{topics.user}}</a> posted a topic: </h3>
		<h4>{{topics.topic}}</h4>
		<p> {{topics.description}}</p>
		<h4> Post your answer here ... </h4>
		<form>
			<input type = 'text' ng-model = 'newPost.description'>
			<input type = 'hidden' ng-init = 'newPost.user = user'>
			<input class='btn btn-primary' type = 'submit' ng-click='addPost()'>
		</form>
	</div>
	<div style='margin-left:10px;' ng-repeat = 'post in posts'>
		<a href='#/user/{{user._id}}'> {{post.user}} </a> <p>{{post.description}} &nbsp<button class='btn btn-success' ng-click='upVote()'>{{post.upvote}}</button><button class='btn btn-danger' ng-click='downVote()'>{{post.downvote}}</button></p>
		<div style='margin-left:30px;' ng-repeat='comment in post.comments'>
			<a href='#/user/{{user._id}}'>{{comment.user}}</a><p>{{comment.description}}</p>
		</div>
		<form>
			<input type = 'text' ng-model = 'description'>
			<input class='btn btn-primary' type = 'submit' ng-click='addComment(description, post._id)'>
		</form>
	</div>
</div>

